name: Load use actions in the current user space

on:
  workflow_dispatch:

jobs:
  load-all-used-actions:
    runs-on: ubuntu-latest
    steps: 
    
      - name: Harden Runner
        uses: step-security/harden-runner@18bf8ad2ca49c14cbb28b91346d626ccfb00c518 # v2.1.0
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            raw.githubusercontent.com:443

      - uses: devops-actions/github-action-load-used-actions@typescript
        name: Load used actions        
        id: load-actions
        with: 
          PAT: ${{ secrets.GITHUB_TOKEN }} # use an Access Token with correct permissions to view private repos if you need to
          user: ${{ github.actor }}

      - shell: pwsh        
        name: Store json file
        run: echo '${{ steps.load-actions.outputs.actions }}' > 'actions.json'
            
      - name: Upload result file as artefact
        uses: actions/upload-artifact@v3
        with: 
          name: actions
          path: actions.json
