on: 
  push:
    paths:
    - .github/workflows/windows-docker-build.yml

  workflow_dispatch:

jobs:
  build-windows-docker-image:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3

      - name: Run docker build
        run: |
          cd src
          docker build -t windows-server-20222 -f Windows.Dockerfile .